@media (max-width: 479px){
    /*---------------
        Main styles
    ---------------*/
    .block_title,
    .page_title{
        font-size: 20px;
        line-height: 24px;
    }



    /*---------------
        Header
    ---------------*/
    header .logo{
        width: 110px;
    }


    header .right_info{
        padding-top: 10px;
    }


    header .city{
        width: 100%;

        margin-bottom: 5px;

        text-align: center;
    }

    header .right_info .contacts{
        margin-left: 0;
    }

    header .right_info .contacts .phone{
        position: absolute;
        top: 0;
        right: 15px;

        width: auto;

        line-height: 36px;

        text-align: right;
    }

    header .callback_link{
        margin-top: 0;
    }


    header .right_info .col.left{
        font-size: 11px;

        justify-content: space-between;
    }


    header .right_info .col.left .links{
        margin: 0;
    }


    header .search .input{
        width: 100%;

        margin-bottom: 10px;

        border: 2px solid #dfdfdf;
        border-radius: 3px;
    }

    header .search .select1 select,
    header .search .select1 .sbSelector{
        border-left-width: 2px;
        border-radius: 3px 0 0 3px;
    }

    header .search .select1,
    header .search .select2{
        width: calc(50% - 25px);
    }


    header .account{
        width: 100%;

        padding-top: 0;

        text-align: center;
    }


    header .right_info .col.right .links{
        width: 100%;
    }



    /*---------------
        Sidebar
    ---------------*/
    aside .filter form{
        margin-left: 0;
    }


    aside .filter .item,
    aside .filter .submit{
        float: none;

        width: 100%;

        margin-left: 0;
    }



    /*---------------
        Main section
    ---------------*/
    .card_block .banner .title,
    .card_block .banner.bg2 .title{
        font-size: 14px;
    }

    .card_block .links a + a{
        margin-left: 20px;
    }


    .delivery_banner,
    .credit_banner{
        width: 100%;

        padding: 15px 30px;
    }

    .delivery_banner .title{
        margin-bottom: 18px;

        font-size: 16px;
    }


    .credit_banner{
        padding-right: 10px;

        background: url(../images/bg_credit_banner1.png) 20px 54px no-repeat,
        url(../images/bg_credit_banner2.png) 100% 100% no-repeat #d9ab7c;
    }

    .credit_banner li{
        padding-left: 110px;
    }


    .cats_wall > .grid > .item_wrap > .item .name.right{
        padding-right: 20px;

        text-align: right;
    }

    .cats_wall > .grid > .item_wrap > .grid .item_wrap{
        width: 100%;
    }

    .cats_wall > .grid > .item_wrap > .grid .item_wrap + .item_wrap{
        margin-top: 30px;
    }

    .cats_wall > .grid > .item_wrap > .grid .item{
        font-size: 18px;
    }


    .products_tabs li{
        margin: 0 14px 5px;
    }

    .products_tabs li a{
        font-size: 13px;
    }



    .advantages .item{
        padding: 15px;

        font-size: 13px;
        line-height: 18px;
    }



    .text_block{
        line-height: 20px;
    }



    .articles_block .item .thumb{
        float: none;

        margin: 0 auto;
    }

    .articles_block .item .info{
        width: 100%;

        padding-top: 15px;

        text-align: center;
    }



    .cart_info table td.price{
        width: 100%;

        margin-left: 0;
        padding: 20px 15px 15px;
    }

    .cart_info table td.amount{
        clear: both;
    }

    .cart_info table td.amount,
    .cart_info table td.weight{
        width: 50%;

        margin: 0;
        padding: 20px 15px 15px;

        text-align: left;
    }

    .cart_info table td.price:before,
    .cart_info table td.amount:before,
    .cart_info table td.weight:before{
        padding: 0 15px;
    }


    .cart_info table tfoot td{
        width: 100%;

        padding: 0;

        line-height: normal;

        white-space: normal;
    }

    .cart_info table tfoot td.links{
        margin-bottom: 15px;
    }

    .cart_info table tfoot td.links .link_item{
        width: 100%;
    }

    .cart_info table tfoot td.links .link_item + .link_item{
        margin-top: 10px;
        margin-left: 0;
    }


    .checkout .minimum{
        font-size: 16px;
    }



    .sorting .sort{
        float: none;

        width: 100%;

        margin-bottom: 10px;
    }


    .sorting .limit{
        float: none;

        width: 100%;
    }

    .sorting .limit .sbOptions{
        right: auto;
        left: -15px;
    }



    .products .item_wrap{
        width: 100%;
    }

    .products .product .thumb a{
        height: 150px;

        line-height: 150px;
    }

    .products .product .main_price{
        float: left;

        margin-right: 15px;
    }



    .products .list .product{
        padding: 15px;
    }

    .products .list .product + .product{
        margin-top: 15px;
    }

    .products .list .product .thumb{
        width: 100%;
    }

    .products .list .product .thumb a{
        height: 150px;

        line-height: 150px;
    }


    .products .list .product .name{
        width: 100%;
    }

    .products .list .product .price_box,
    .products .list .product .col.right{
        width: 100%;

        margin: 0;
        padding: 0;
    }

    .products .list .product .col.right{
        margin-top: 20px;
    }



    .pagination a.prev,
    .pagination a.next{
        display: none;
    }


    .lk .card_info .info{
        padding: 84px 20px 20px;
    }

    .lk .card_info .info .lines{
        margin-left: -25px;
    }

    .lk .card_info .info .input{
        width: calc(100% - 27px);

        margin-left: 27px;
        padding: 0 12px;
    }

    .lk .card_info .info .sbHolder{
        max-width: calc(100% - 27px);

        margin-left: 27px;
    }


    .lk .card_info .text div{
        width: 100%;
    }

    .lk .card_info .text div + div{
        margin-top: 5px;
    }


    .lk .personal .personal_info .name{
        width: 100%;

        margin-bottom: 3px;
    }

    .lk .personal .personal_info .val{
        width: 100%;

        padding: 0;
    }


    .lk .personal .links div{
        width: 100%;
    }

    .lk .personal .links div + div{
        margin-top: 10px;
    }


    .lk .personal .subscribes .item:nth-child(3){
        margin-top: 10px;
    }



    .lk .history .block_title{
        font-size: 20px;
    }


    .lk .history > .item .head .number_col,
    .lk .history > .item .head .date_col,
    .lk .history > .item .head .price_col,
    .lk .history > .item .head .status_col{
        width: 100%;
    }


    .lk .history > .item .cart_info table td.amount,
    .lk .history > .item .cart_info table td.weight,
    .lk .history > .item .cart_info table td.price{
        width: 50%;
    }



    .lk .personal .subscribes .item{
        min-width: 115px;
    }



    .product_info .images{
        padding: 0 10px 15px;
    }

    .product_info .images .big .slide a{
        height: 204px;

        line-height: 204px;
    }

    .product_info .images .thumbs{
        margin-top: 15px;
    }


    .product_info .data .price_box{
        padding-right: 0;
    }

    .product_info .data .main_price{
        width: 100%;
    }


    .product_info .data .features .item .name{
        width: 100%;

        margin-bottom: 3px;
    }

    .product_info .data .features .item .val{
        width: 100%;

        padding: 0;
    }


    .product_info .data .options .item{
        width: calc(100% - 25px);
    }

    .product_info .data .options .item + .item{
        margin-top: 20px;
    }


    .product_info .data .buy{
        width: calc(100% - 120px);

        margin-bottom: 20px;
    }


    .product_info .data .compare a{
        padding-left: 40px;
    }

    .product_info .data .compare a span{
        display: inline;
    }


    .product_info .right_info{
        width: 100%;

        margin-left: 0;
    }

    .product_info .right_info .bg,
    .product_info .right_info .exp,
    .product_info .right_info .share{
        width: 100%;

        margin-left: 0;
    }

    .product_info .right_info .exp{
        margin-top: 20px;
    }



    .product_info .tabs li{
        width: 100%;

        text-align: center;
    }

    .product_info .tabs li + li{
        margin-top: 10px;
        margin-left: 0;
    }

    .product_info .tabs li a{
        padding-bottom: 5px;
    }


    .reviews_block .head .rating{
        width: 100%;

        margin-right: 0;
        margin-bottom: 0;
    }

    .reviews_block .review .author{
        width: 100%;
    }

    .reviews_block .review .rating{
        width: 100%;
    }



    .shop_features .col_wrap{
        width: 100%;

        margin-bottom: 8px;
    }


    .shop_desc .block_title,
    .shop_menu .block_title{
        font-size: 20px;
    }



    .shops_list .filter .item_wrap{
        width: 100%;
    }

    .shops_list .delivery,
    .shops_list .links{
        width: 100% !important;
    }


    .shops_list .filter .item_wrap:first-child .data .scroll{
                column-count: 2;
        -webkit-column-count: 2;
           -moz-column-count: 2;
        -webkit-column-gap: 20px;
           -moz-column-gap: 20px;
                column-gap: 20px;
    }


    .shops_list .list .shop .images{
        width: calc(50% - 7px);
    }

    .shops_list .list .shop .images .slide a,
    .shops_list .list .shop .images .slide img{
        height: auto;
    }


    .shops_list .list .shop .info{
        width: calc(50% - 8px);
    }

    .shops_list .list .shop .info .shop_name a{
        font-size: 17px;
    }

    .shops_list .list .shop .info .rating ul{
        display: block;

        width: 100%;
    }

    .shops_list .list .shop .info .rating .count{
        margin-left: 0;
    }

    .shops_list .list .shop .info .desc{
        display: none;
    }


    .shops_list .list .shop .cupons{
        margin-top: 15px;
        padding-top: 25px;
        padding-left: 0;
    }

    .shops_list .list .shop .cupons:before{
        top: 0;
        left: 60px;
    }

    .shops_list .list .shop .cupons .item{
        width: 100%;
    }

    .shops_list .list .shop .cupons .sep{
        display: none;
    }


    .shops_list .list .shop .features{
        margin-top: 15px;
    }



    /*---------------
        Footer
    ---------------*/
    footer .col.left{
        width: 100%;

        margin-bottom: 20px;

        text-align: center;
    }


    footer .logo img{
        margin: 0 auto;
    }


    footer .socials{
        width: 272px;

        margin: 20px auto 0;
    }


    footer .links{
        width: 50%;
    }



    /*---------------
        PopUp
    ---------------*/
    .modal_data,
    .modal_title{
        padding: 20px;
    }


    .modal_title a{
        font-size: 16px;
    }

    .modal_title a + a{
        margin-left: 21px;
    }


    .fancybox-close-small{
        top: 5px;
        right: 5px;
    }
}
